<% if user_signed_in? %>
  <h2><%="#{ServiceOrder.model_name.human(count: 2)} #{t(:pending, count: 2).downcase}"%></h2>
  <% if current_user.admin? %>
    <%= link_to t(:register_service_order), new_service_order_path, class:'btn btn-primary mt-3 mb-3' %> 
  <% end %>
  <% if @service_orders.pending.any? %>
    <div class="container-list">
      <% @service_orders.pending.each do |service_order| %>
        <div class="contents">
          <ul>
            <h5 class= "mt-2"> <%= link_to service_order.code, service_order_path(service_order)%></h5>
            <li><%="#{t(:dimensions)}: #{service_order.height}cm x #{service_order.width}cm x #{service_order.depth}cm"%></li>
            <li><%="#{ServiceOrder.human_attribute_name(:total_distance)}: #{service_order.total_distance}km"%></li>
            <li><%="#{ServiceOrder.human_attribute_name(:weight)}: #{service_order.weight}kg"%></li>
          </ul>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-success"><%= "#{t(:no_service_order)} #{t(:pending, count:1).downcase} "%></p>
  <% end %>
    
  <h2 class="mt-5 mb-3"><%="#{ServiceOrder.model_name.human(count: 2)} #{t(:in_progress).downcase}"%></h2>
  <% if @service_orders.in_progress.any? %>
    <div class="container-list">
      <% @service_orders.in_progress.each do |service_order| %>
        <div class="contents bg-dark text-light">
          <ul>
            <h5 class= "mt-2"> <%= link_to service_order.code, service_order_path(service_order)%></h5>
            <li><%="#{ServiceOrder.human_attribute_name(:price)}: #{number_to_currency(service_order.price.to_f/100)}"%></li>
            <% if service_order.deadline <= 120 %>
              <li><%="#{ServiceOrder.human_attribute_name(:deadline)}: #{service_order.deadline} #{t(:hours)}"%></li>
            <% else %>
              <li><%="#{ServiceOrder.human_attribute_name(:deadline)}: #{service_order.deadline/24} #{t(:days)}"%></li>
            <% end %>
            <li><%=t(:modality)%>: <b><%= link_to service_order.mode_of_transport.name, mode_of_transport_path(service_order.mode_of_transport) %></b></li>
            <li><%="#{ServiceOrder.human_attribute_name(:total_distance)}: #{service_order.total_distance}km"%></li>
            <li><%= ServiceOrder.human_attribute_name(:started_in) %>: <%= l(service_order.started_in, format: :short) %></li>
          </ul>
        </div>
      <% end %>
    </div>
  <% else %>
    <p><%=" #{t :no_service_order} #{t(:in_progress).downcase}" %></p>
  <% end %>
  <h2 class="mt-5"><%= link_to "#{ServiceOrder.model_name.human(count: 2)} #{t(:closed, count: 2)}", closeds_service_orders_path %></h2>
<% else %>
  <div class="mt-5 container">
  <h5 class="mb-4 text-secondary"><%= t(:welcome_to_the_shipping_system_to_check_the_status_of_your_order_enter_the_tracking_code) %></h5>
    <%= render 'service_orders/search_form' %>
  </div>
<% end %>