<% if @mode_of_transport.errors.any? %>
  <p class='alert'><b> <%= t(:check_the_errors, count: @mode_of_transport.errors.count) %>:</b></p>
  <ul>
    <% @mode_of_transport.errors.full_messages.each do |msg| %>
      <li class="alert"><%= msg %></li>
    <% end %>
  </ul>
<% end %>
</div>

<div class='form'>
  <%= form_with model: @mode_of_transport do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true %>
    </div>
    <div>
      <%= f.label :minimum_distance %>
      <%= f.number_field :minimum_distance %>
    </div>
    <div>
      <%= f.label :maximum_distance %>
      <%= f.number_field :maximum_distance %>
    </div>
    <div>
      <%= f.label :minimum_weight %>
      <%= f.number_field :minimum_weight  %>
    </div>
    <div>
      <%= f.label :maximum_weight %>
      <%= f.number_field :maximum_weight %>
    </div>
    <div>
      <%= f.label :flat_rate %>
      <%= f.number_field :flat_rate %>
    </div>
    <div>
      <%= f.submit t(:save), class: 'btn dark' %>
    </div>
  <% end %>
</div>