<h2><%= ModeOfTransport.model_name.human(count: 2) %></h2>
<% if current_user.role == 'admin' %>
  <%= link_to "#{t :register} #{ModeOfTransport.model_name.human}", new_mode_of_transport_path, class:'btn dark btn:hover' %>
<% end %>
<% if @mode_of_transports.any? %>
  <div class="container relative">
    <% @mode_of_transports.each do |mt| %>
      <%= link_to mode_of_transport_path(mt) do %>
        <div class= "contents">
          <h3 class= "text-center"><%= mt.name %></h3>
          <ul>
            <li><%="#{ModeOfTransport.human_attribute_name(:minimum_distance)}: #{mt.minimum_distance}km"%></li>
            <li><%="#{ModeOfTransport.human_attribute_name(:maximum_distance)}: #{mt.maximum_distance}km"%></li>
            <li><%="#{ModeOfTransport.human_attribute_name(:minimum_weight)}: #{mt.minimum_weight}kg"%></li>
            <li><%="#{ModeOfTransport.human_attribute_name(:maximum_weight)}: #{mt.maximum_weight}kg"%></li>
            <li><%="#{ModeOfTransport.human_attribute_name(:flat_rate)}: #{number_to_currency(mt.flat_rate)}"%></li>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p><%=" #{t :none} #{ModeOfTransport.model_name.human} #{t :registered}" %></p>
<% end %>