<h2><%= @mode_of_transport.name %></h2>
<ul>
  <li><b><%= ModeOfTransport.human_attribute_name(:minimum_distance) %>:</b>
    <%=@mode_of_transport.minimum_distance %>km
  </li>
  <li><b><%= ModeOfTransport.human_attribute_name(:maximum_distance) %>:</b>
    <%=@mode_of_transport.maximum_distance %>km
  </li>
  <li><b><%= ModeOfTransport.human_attribute_name(:minimum_weight) %>:</b>
    <%=@mode_of_transport.minimum_weight %>kg
  </li>
  <li><b><%= ModeOfTransport.human_attribute_name(:maximum_weight) %>:</b>
    <%=@mode_of_transport.maximum_weight %>kg
  </li>
  <li><b><%= ModeOfTransport.human_attribute_name(:flat_rate) %>:</b>
    <%= number_to_currency(@mode_of_transport.flat_rate) %>
  </li>
</ul>

<% if current_user.admin? %>
  <%= link_to "#{t :edit} #{ModeOfTransport.model_name.human}", edit_mode_of_transport_path, class:'btn btn-primary' %>
  <% if @mode_of_transport.active? %>
    <div>
      <%= button_to "#{t :disable}", inactive_mode_of_transport_path(@mode_of_transport.id), class: 'btn btn-secondary mt-1'%>
    </div>
  <% else %>
    <div>
      <%= button_to "#{t :activate}", active_mode_of_transport_path(@mode_of_transport.id), class: 'btn btn-secondary mt-1'%>
    </div>  
  <% end %>
<% end %>
<hr>
<div class="table-responsive mt-1">
  <table class="table">
  <h4><%= t(:price_by_weight_setting, count: 2) %></h4>
    <thead>
      <tr>
        <th scope="col"><%= t :interval %></th>
        <th scope="col"><%= PriceByWeight.human_attribute_name(:value) %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @mode_of_transport.price_by_weights.each do |price_by_weight| %>
        <tr>
          <td scope="row"> <%= t :from %> <%= price_by_weight.minimum_weight %>kg <%= t :to %> <%= price_by_weight.maximum_weight %>kg</td>
          <td><%= number_to_currency(price_by_weight.value) %></td>
          <% if current_user.admin? %>
            <td><%= link_to 'Editar', edit_price_by_weight_path(price_by_weight) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% if current_user.admin? %>
  <%= link_to "#{t :register} #{t(:price_by_weight_setting, count: 1)}", new_price_by_weight_path, class:'btn btn-primary' %>
<% end %>
<hr>
<div class="table-responsive mt-1">
  <table class="table">
  <h4><%= t(:distance_pricing_setup, count: 2) %></h4>
    <thead>
      <tr>
        <th scope="col"><%= t :interval %></th>
        <th scope="col"><%= PricePerDistance.human_attribute_name(:rate) %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @mode_of_transport.price_per_distances.each do |price_per_distance| %>
        <tr>
          <td scope="row"> <%= t :from %> <%= price_per_distance.minimum_distance %>km <%= t :to %> <%= price_per_distance.maximum_distance %>km</td>
          <td><%= number_to_currency(price_per_distance.rate) %></td>
          <% if current_user.admin? %>
            <td><%= link_to 'Editar', edit_price_per_distance_path(price_per_distance) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% if current_user.admin? %>
  <%= link_to "#{t :register} #{t(:distance_pricing_setup, count: 1)}", new_price_per_distance_path, class:'btn btn-primary' %>
<% end %>