<div class="container">
  <h3 class="text-secondary"><%="#{t(:modality).capitalize} #{@mode_of_transport.name}"%></h3>
</div>
<% if @price_by_weight.errors.any? %>
  <div class="alert alert-warning container" role="alert">
    <b><%= t(:check_the_errors, count: @price_by_weight.errors.count) %>:</b>
    <% @price_by_weight.errors.full_messages.each do |msg| %>
      <div> - <%= msg %> </div>
    <% end %>
  </div>
<% end %>

<div class='form container'>
  <%= form_with model: [@mode_of_transport, @price_by_weight] do |f| %>
    <div class="row">
      <div class="mb-2 col-12 col-lg-6">
        <%= f.label :minimum_weight, class:'form-label' %>
        <%= f.number_field :minimum_weight, class:'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="mb-2 col-12 col-lg-6">
        <%= f.label :maximum_weight, class:'form-label' %>
        <%= f.number_field :maximum_weight, class:'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="mb-2 col-12 col-lg-6">
        <%= f.label :value, "#{PriceByWeight.human_attribute_name(:value)} (#{t(:in_cents)})", class:'form-label' %>
        <%= f.number_field :value, class:'form-control' %>
      </div>
    </div>
    <div class="mb-2 ">
      <%= f.submit t(:save), class: 'btn btn-primary mt-2' %>
    </div>
  <% end %>
</div>
