<% if @vehicle.errors.any? %>
  <div class="container" role="alert">
    <b><%= t(:check_the_errors, count: @vehicle.errors.count) %>:</b>
    <% @vehicle.errors.full_messages.each do |msg| %>
      <div class="alert alert-warning"><%= msg %></div>
    <% end %>
  </div>
<% end %>

<div class='container'>
  <%= form_with model: @vehicle do |f| %>
    <div class="row">
      <div class="mb-2 col-12 col-lg-6">
        <%= f.label :model, class:'form-label' %>
        <%= f.text_field :model, autofocus: true, class:'form-control' %>
        </div>
    </div>
    <div class="row">
      <div class="mb-2 col-6 col-lg-3">
        <%= f.label :brand, class:'form-label' %>
        <%= f.text_field :brand, class:'form-control' %>
      </div>
      <div class="mb-2 col-6 col-lg-3">
        <%= f.label :year_of_manufacture, class:'form-label' %>
        <%= f.number_field :year_of_manufacture, class:'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="mb-2 col-6 col-lg-3">
        <%= f.label :maximum_capacity, class:'form-label' %>
        <%= f.number_field :maximum_capacity, class:'form-control' %>
      </div>
      <div class="mb-2 col-6 col-lg-3">
        <%= f.label :nameplate, class:'form-label' %>
        <%= f.text_field :nameplate, class:'form-control' %>
      </div>
    <div class="mb-2 ">
      <%= f.submit t(:save), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>