<div class="container">
  <h2><%= t(:record_the_reason_for_the_overdue) %></h2>
  <h3 class="text-secondary"><%= "#{ServiceOrder.model_name.human(count: 1)} #{@service_order.code} " %></h3>
</div>

<% if @overdue_reason.errors.any? %>
  <div class="container" role="alert">
    <% @overdue_reason.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<div class='container'>
  <%= form_with model: [@service_order, @overdue_reason] do |f| %>
    <div class="row">
      <div class="mb-2 col-12 col-lg-7">
        <%= f.label :overdue_reason, class:'form-label' %>
        <%= f.text_area :overdue_reason, class:'form-control' %>
      </div>
    <div class="mb-2 ">
      <%= f.submit t(:save), class: 'btn btn-primary mt-2' %>
    </div>
  <% end %>
</div>
