<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title><%= t :freight_system %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap" rel="stylesheet">
  </head>

  <body class="ligth">
    <header>
      <%= link_to root_path do %>
        <h1><%= t :freight_system %></h1>
      <% end %>
      <nav class="menu">
        <% if user_signed_in? %>
          <%= link_to ModeOfTransport.model_name.human(count: 2), mode_of_transports_path, class: 'link' %>
          <span class='link'><%= current_user.name %></span>
          <%= button_to t(:logout), destroy_user_session_path, method: :delete, class: 'link hover-sub' %>
        <% else %>
          <%= link_to t(:login), new_user_session_path, class: 'link hover-sub' %>
        <% end %>
      </nav>
    </header>
    <main>
      <p class='notice'><%= flash.notice %></p>
      <p class='alert'><%= flash.alert%></p>
      <%= yield %>
    </main>
  </body>
</html>
